.jumbotron a{
    text-decoration: none;
}

.navbafr {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


#about p{
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
}


#about img{
    width: 100%;
    border-radius: 20px;
}

#about .icons{
    display: inline-block;
    width: 100%;
}

#about i{
    font-size: 40px;
    margin-right: 10px;
    text-align: center;
}

#research h4{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

#CS .carousel{
    width: 550px;
    display: inline-block;
}

@media (max-width: 600px) {
  #CS .carousel {
    width: 100%;
  }
}

#CS .icon{
    font-size: 40px;
    color: black;
}

#print .icon{
    font-size: 40px;
    color: black;
}

.resawards{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}